# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://postgres:octoparts123@localhost:5432/octoparts"
BETTER_AUTH_SECRET=a8k1MbFayqD5krupAiMGktTVgo4hw6u1
BETTER_AUTH_URL=http://localhost:3000